.category {
  display: inline-block;
}

.hangman-draw {
  position: relative;
  height: $draw-height;
  .svg-draw {
    pointer-events: none;
    position: relative;
    height: $draw-height;
    margin: 0 auto;
    display: inherit;
  }
}

.key {
  $box-height: 35px;
  font-size: 18px;
  display: inline-block;
  background-color: $background-color;
  width: 25px;
  height: $box-height;
  line-height: $box-height;
  margin: 3px;
  border-radius: 3px;
  cursor: pointer;
  &.was-selected {
    color: $disabled-text;
    background-color: inherit;
  }
}
.top {
  padding: $content-padding;
}
.bottom {
  position: absolute;
  width: 100%;
  padding: $content-padding;
  bottom: 0;
  background-color: $bottom-bg-color;
}
.keyboard {
  user-select: none;
  margin-top: 20px;
}
.stats {
  margin-bottom: 22px;
  margin-top: 13px;
}

.word {
  color: $secondary-color;
  font-size: $large-size;
}

.strikes {
  text-align: right;
}

.active-strikes {
  color: $strikes;
  font-family: $font-helvetica75;
  position: relative;
  bottom: 1px;
}