.title {
  font-family: $font-helvetica75;
  font-size: $xtra-large-size;
  height: 55px;
  background-color: $secondary-color;
  color: $secondary-invert-color;
  line-height: 55px;
  margin-bottom: 20px;
}
