$font-helvetica45: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", sans-serif;
$font-helvetica55: "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", sans-serif;
$font-helvetica65: "HelveticaNeueW01-65Medi", "HelveticaNeueW02-65Medi", "HelveticaNeueW10-65Medi", sans-serif;
$font-helvetica75: "HelveticaNeueW01-75Bold", "HelveticaNeueW02-75Bold", "HelveticaNeueW10-75Bold", sans-serif;

//LAYOUT
$page-width: 320px;
$content-padding: 0 20px;
$draw-height: 35vh;


//COLORS
$secondary-color: #65c8d0;
$secondary-invert-color: #ffffff;
$primary-text-color: #4d4d4d;
$bottom-bg-color: #f2f2f2;
$disabled-text: #c4c4c4;
$strikes: #ed1e79;

//SIZES:
$xtra-large-size: 24px;
$large-size: 20px;
$medium-size: 16px;
$background-color: #ffffff;