//laptops
@media only screen and (min-width: 768px) {
  .body {
    width: 320px;
    height: 580px;
  }
}
.container {
  margin: auto;
  width: 100%;
  padding: 0;
}

%text-center {
  text-align: center;
}

.text-horizontal-center {
  @extend %text-center;
}

.div-horizontal-center {
  @extend %text-center;
  @include position(absolute, nil, nil, nil, 50%);
  @include translateX(-50%);
}

