.page-content{:"ng-controller" => "MainController as main"}
  .content-wrapper{:"ng-if" => "main.game"}
    %h1.title.text-horizontal-center {{'title' | translate}}
    %scetion.top
      .category {{'category' | translate}}
      %select.category-select{:"ng-model" => "main.category",
        :"ng-options" => "'categories_' + category | translate for category in main.categories track by category",
        :"ng-change" => "main.onCategoryChanged()"}
      %section.hangman-draw
        .hangman-svg{:"ng-include" => "'views/hangman.svg.preload.html'"}
      %section.word.text-horizontal-center
        .letter{:"ng-repeat" => "letter in main.game.getRevealedLettersArray() track by $index", :"ng-class" => "{'white-space': letter === ' '}"} {{letter}}
    %section.bottom
      %section.keyboard.text-horizontal-center
        %keyboard{:keys => "main.game.charactersInLanguage", :"was-selected" => "main.game.isLetterSelected"}
      %section.actions
      %section.stats
        .strikes
          %span.active-strikes< {{main.game.strikes}}
          %span.total-strikes> {{'/' + main.maxStrikes}}
    %div{:"overlay" => "gameOverOverlay"}
      %h4.overlay-title{:"translate" => 'game_over', :"translate-values" => '{status: main.game.state}'}
      %p{:toggle => "off", :bubble => "true", :target => "gameOverOverlay"}
        %span.play-again-btn.btn.btn-primary{:"ng-click" => "main.createNewGame()"} {{'play_again' | translate}}
